* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --gold: #CDA716;
}

body {
    background-color: black;
    font-family: 'Barlow', sans-serif;
}

.homepage {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

#videobg {
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    position: absolute;
    opacity: 50%;
}

.header-container {
    width: 100%;
    /* background-color: lightblue; */
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-logo img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.nav-links {
    display: flex;
}

.sitelogo {
    height: 100%;
    display: inline-block;
}


.nav-item {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav-item:hover {
    background-color: rgba(205, 167, 22, 70%);
    border-radius: 5%;
}

.nav-item:hover a {
    color: white;
    /* text-decoration: underline; */
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.hero-logo {
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
}

@media screen and (max-width: 800px) {  
    .hero-logo {
        width: 100%;
    }
    
    .button-row {
        width: 60%;
        justify-content: space-evenly;
    }

}

.hero-logo img {
    width: 65%;
}

.hero-text {
    color: white;
    display: flex;
    justify-content: center;
    width: 80%;

}

.hero-text h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.button-row {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.button-row button {
    padding: 10px;
    width: 100px;
    font-size: 1.1rem;
    color: white;
    background: none;
    border: 3px solid white;
    border-radius: 5%;
    cursor: pointer;
    text-transform: uppercase;
}

.button-row button:hover {
    background-color: rgba(205, 167, 22, 70%);

}

.info {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

/* guide section */
.su-body-container {
    background-color: rgb(243, 241, 224);
    height: auto;
    /* padding: 0 6rem; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 6rem;
}

.hero-text-div {
    font-size: 2.5rem;
    text-align: center;
    background-color: black;
    color: white;
    background-image: url(img/su-hero-splash.webp);
    background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* backdrop-filter: blur(6px); */
    backdrop-filter: brightness(70%);
    /* backdrop-filter: opacity(50%); */
}

.hero-text-div h1 {
    position: relative;
    z-index: 1;
}

.su-about-div {
    margin-top: 30px;
    padding: 20px 0;
    display: flex;
    /* border: 1px solid blue; */
}

.su-about-div div {
    flex: 1;

}

.su-about-text {
    color: rgba(0, 0, 0, 85%);
    font-size: 1.75rem;
}

.su-about-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.su-world-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.world-div-text {
    font-size: 1.75rem;
}

.world-img-container {
    display: flex;
    gap: 20px;
    margin-top:20px;
}

.world-img-container div {
    flex: 1;
    /* border: 1px solid blue; */
}

.world-img-container > div img {
    width: 100%;
    cursor: pointer;
}

.world-info-container {
    border: 6px solid #953c41;
    background-color: #f2cf71;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
}

.world-one-info {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.world-info-title {
    /* border: 3px solid green; */
    display: flex;
    margin-bottom: 40px;
    padding: 20px;
}

.world-info-title div {
    flex: 1;
    font-size: 1.4rem;
}

.world-info-rest {
    /* border: 10px solid yellow; */
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 80px;
}

.world-info-rest div {
    flex: 1;
}

.world-info-rest img {
    width: 100px;
}

.world-info-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.world-info-elements div {
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.world-info-chara {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.world-info-chara div {
    flex: 1;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .world-info-chara img {
    width: 100%;
} */

.world-info-path {
    display: flex;
    justify-content: center;
    align-items: center;
}

.world-info-path div {
    flex: 1;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}